#list__container {
  box-shadow: $box-shadow-1;

  .list__header {
    #typeFilter {
      @include responsive("small") {
        max-width: 50%;
      }
    }
  }

  .list__content {
    table {
      .d-smNone {
        @include responsive("small") {
          display: none !important;
        }
      }

      tbody {
        tr {
          cursor: pointer;

          .actions {
            a {
              transition: all 0.5s;
              display: inline-block;
              width: 20px;
              height: 20px;
              line-height: 20px;
              text-align: center;

              &:hover {
                box-shadow: $box-shadow-1;
              }
            }
          }
        }
      }
    }
  }
  .list__footer {
    .pagination {
      select {
        @include responsive("small") {
          min-width: 20%;
        }
      }
    }
    .page-item {
      a {
        transition: all 0.5s;

        &:hover {
          background: $color-2;
          color: #fff;
        }
      }
    }
  }
}
