#list__container {
  box-shadow: $box-shadow-1;
  background: $color-1;

  .list__header {
    border-bottom: 1px solid $color-5;

    #typeFilter {
      cursor: pointer;

      @include responsive("small") {
        max-width: 50%;
      }
    }
  }

  .list__content {
    table {
      .d-smNone {
        @include responsive("small") {
          display: none !important;
        }
      }

      thead {
        tr {
          th {
            color: $color-4;
          }
        }
      }

      tbody {
        tr {
          cursor: pointer;

          th {
            color: $color-4;
          }

          td {
            color: $color-4;

            a {
              transition: all 0.5s;
              display: inline-block;
              width: 20px;
              height: 20px;
              line-height: 20px;
              text-align: center;

              i {
                color: $color-4;

                &:hover {
                  color: $color-2;
                }
              }

              &:hover {
                box-shadow: $box-shadow-1;
              }
            }
          }
        }
      }
    }
  }

  .list__footer {
    border-top: 1px solid $color-5;

    .pagination {
      select {
        @include responsive("small") {
          min-width: 20%;
        }
      }
    }
    .page-item {
      a {
        color: $color-2;
        transition: all 0.5s;

        &:focus {
          outline: none;
          border: none;
          box-shadow: none;
        }

        &:hover {
          background: $color-2;
          color: #fff;
        }
      }
    }
  }
}
