#staticBackdrop {
  .modal-dialog {
    max-width: 70%;

    @include responsive("small") {
      min-width: 95%;
      margin: auto;
    }
  }

  .modal-body {
    form {
      div {
        input {
          @extend .style-input;
        }
      }
      select {
        @extend .style-select-lightMode;
      }
    }
  }
}
