.style-select-darkMode, .dark-mode #staticBackdrop .modal-dialog .modal-content .modal-body form div select, .dark-mode #list__container .list__footer .pagination select, .dark-mode #list__container .list__header #typeFilter {
  background: #393d53;
  color: #cfcde4;
  padding: 5px 7px;
  border: 1px solid #76778e;
  border-radius: 7px;
}

.style-select-lightMode, #staticBackdrop .modal-body form select {
  background: #fff;
  padding: 5px 7px;
  color: #444050;
  border: 1px solid #f3f3f4;
  border-radius: 7px;
}

.text-01 {
  color: #fff;
}

.text-02 {
  color: #f3f3f4;
}

.bg-01 {
  background: linear-gradient(270deg, rgba(115, 103, 240, 0.7) 0%, #7367f0 100%);
}

.bg-02 {
  background: linear-gradient(270deg, rgba(115, 103, 240, 0.7) 0%, #7367f0 100%);
}

.h-100vh {
  height: 100vh;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.h-5 {
  height: 5%;
}

.h-10 {
  height: 10%;
}

.h-15 {
  height: 15%;
}

.h-20 {
  height: 20%;
}

.h-25 {
  height: 25%;
}

.h-30 {
  height: 30%;
}

.h-35 {
  height: 35%;
}

.h-40 {
  height: 40%;
}

.h-45 {
  height: 45%;
}

.h-50 {
  height: 50%;
}

.h-55 {
  height: 55%;
}

.h-60 {
  height: 60%;
}

.h-65 {
  height: 65%;
}

.h-70 {
  height: 70%;
}

.h-80 {
  height: 80%;
}

.h-85 {
  height: 85%;
}

.h-90 {
  height: 90%;
}

.h-95 {
  height: 95%;
}

.scroll-nonebar {
  overflow: scroll;
  scrollbar-width: none;
}

.color-01 {
  color: #665dd0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}

body,
html {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #f8f7fa;
  transition: all 0.5s;
}

.dark-mode {
  background-color: #25293c !important;
}

#menu {
  display: flex;
  position: relative;
  min-width: 300px;
  transition: all 0.5s;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(47, 43, 61, 0.12);
  background: #fff;
}
@media screen and (max-width: 1200px) {
  #menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
  }
}
#menu #logo__container div i {
  color: #665dd0;
}
#menu #logo__container div span {
  color: #444050;
}
#menu #menu__list {
  margin-top: 10px;
}
#menu #menu__list li {
  font-weight: 600;
  transition: all 0.5s;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}
#menu #menu__list li a,
#menu #menu__list li i {
  transition: all 0.5s;
  color: #444050;
}
#menu #menu__list li:hover {
  background: #f3f3f4;
}
#menu #menu__list li:hover a,
#menu #menu__list li:hover i {
  color: #665dd0;
}
#menu #menu__list .active {
  background: linear-gradient(270deg, rgba(115, 103, 240, 0.7) 0%, #7367f0 100%);
  color: #fff;
  box-shadow: 0px 2px 6px 0px rgba(115, 103, 240, 0.3);
}
#menu #menu__list .active a,
#menu #menu__list .active i {
  color: #fff;
}
#menu #menu__list .active:hover {
  background: linear-gradient(270deg, rgba(115, 103, 240, 0.7) 0%, #7367f0 100%);
  box-shadow: 0px 2px 6px 0px rgba(115, 103, 240, 0.3);
}
#menu #menu__list .active:hover a,
#menu #menu__list .active:hover i {
  color: #fff;
}
#menu footer {
  border-top: 1px solid #f3f3f4;
}
#menu footer div p {
  color: #444050;
}
#menu #iconClose1 {
  display: flex;
}
@media screen and (max-width: 1200px) {
  #menu #iconClose1 {
    display: none;
  }
}
#menu #iconClose2 {
  display: none;
}
@media screen and (max-width: 1200px) {
  #menu #iconClose2 {
    display: flex;
  }
}
#menu .iconClose {
  width: 38px;
  height: 38px;
  background: #665dd0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  right: -19px;
  bottom: -19px;
}
#menu .iconClose a i {
  font-size: 2rem;
  color: #fff;
}

.menu-active {
  min-width: 50px !important;
}
.menu-active #logo__container {
  border-bottom: 1px solid #f3f3f4;
}
.menu-active #logo__container div .logo-text {
  display: none;
}
.menu-active #menu__list li {
  padding: 5px 15px !important;
}
.menu-active #menu__list li i {
  margin: 0 !important;
}
.menu-active #menu__list li .menu-text {
  display: none;
}
.menu-active footer {
  border-top: 0 !important;
}
.menu-active footer div p {
  display: none;
}

header {
  box-shadow: 0 0.125rem 0.5rem 0 rgba(47, 43, 61, 0.12);
  transition: all 0.5s;
}
header #btnButtonMenu {
  display: none;
}
header #btnButtonMenu i {
  color: #444050;
}
@media screen and (max-width: 1200px) {
  header #btnButtonMenu {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  header #btnButtonMenu {
    margin-right: 10px;
  }
}
header div input {
  transition: all 0.5s !important;
}
header div input::-moz-placeholder {
  font-style: italic;
  font-weight: 600;
  color: rgba(172, 170, 177, 0.5333333333);
}
header div input::placeholder {
  font-style: italic;
  font-weight: 600;
  color: rgba(172, 170, 177, 0.5333333333);
}
header div input:focus {
  outline: none;
  border: none;
  box-shadow: none !important;
}
header #btnMode i {
  color: #444050;
}
header #thongBao__container #numberThongBao {
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  background: #ff4c51;
  position: absolute;
  width: 20px;
  height: 20px;
  right: -5px;
  top: -5px;
}
header #thongBao__container #iconThongBao {
  color: #444050;
}
header #thongBao__container #showThongBao {
  width: 400px;
  right: 0;
  background-color: white;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(47, 43, 61, 0.12);
  border: 1px solid rgba(225, 222, 245, 0.137);
}
header #thongBao__container #showThongBao ul {
  border-bottom: 1px solid #f3f3f4;
  border-top: 1px solid #f3f3f4;
  margin: 15px 0;
}
@media screen and (max-width: 480px) {
  header #thongBao__container #showThongBao {
    position: fixed !important;
    width: 100%;
  }
}
header #thongBao__container #showThongBao #dongThongBao {
  color: #665dd0;
}
header #user__container {
  width: 40px;
  height: 40px;
  border: 2px dashed #665dd0;
}

#staticBackdrop .modal-dialog {
  max-width: 70%;
}
@media screen and (max-width: 480px) {
  #staticBackdrop .modal-dialog {
    min-width: 95%;
    margin: auto;
  }
}
#list__container {
  box-shadow: 0 0.125rem 0.5rem 0 rgba(47, 43, 61, 0.12);
  background: #fff;
}
#list__container .list__header {
  border-bottom: 1px solid #f3f3f4;
}
#list__container .list__header #typeFilter {
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  #list__container .list__header #typeFilter {
    max-width: 50%;
  }
}
@media screen and (max-width: 480px) {
  #list__container .list__content table .d-smNone {
    display: none !important;
  }
}
#list__container .list__content table thead tr th {
  color: #444050;
}
#list__container .list__content table tbody tr {
  cursor: pointer;
}
#list__container .list__content table tbody tr th {
  color: #444050;
}
#list__container .list__content table tbody tr td {
  color: #444050;
}
#list__container .list__content table tbody tr td a {
  transition: all 0.5s;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
#list__container .list__content table tbody tr td a i {
  color: #444050;
}
#list__container .list__content table tbody tr td a i:hover {
  color: #665dd0;
}
#list__container .list__content table tbody tr td a:hover {
  box-shadow: 0 0.125rem 0.5rem 0 rgba(47, 43, 61, 0.12);
}
#list__container .list__footer {
  border-top: 1px solid #f3f3f4;
}
@media screen and (max-width: 480px) {
  #list__container .list__footer .pagination select {
    min-width: 20%;
  }
}
#list__container .list__footer .page-item a {
  color: #665dd0;
  transition: all 0.5s;
}
#list__container .list__footer .page-item a:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
#list__container .list__footer .page-item a:hover {
  background: #665dd0;
  color: #fff;
}

.dark-mode #menu {
  background: #393d53;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(19, 17, 32, 0.18);
}
.dark-mode #menu #logo__container div span {
  color: #cfcde4;
}
.dark-mode #menu #menu__list li a,
.dark-mode #menu #menu__list li i {
  color: #cfcde4;
}
.dark-mode #menu #menu__list li:hover {
  background: rgba(225, 222, 245, 0.137);
}
.dark-mode #menu #menu__list .active {
  box-shadow: 0px 2px 6px 0px rgba(115, 103, 240, 0.3);
}
.dark-mode #menu #menu__list .active a,
.dark-mode #menu #menu__list .active i {
  color: #fff;
}
.dark-mode #menu #menu__list .active:hover {
  background: linear-gradient(270deg, rgba(115, 103, 240, 0.7) 0%, #7367f0 100%);
}
.dark-mode #menu footer {
  border-top: 1px solid rgba(225, 222, 245, 0.137);
}
.dark-mode #menu footer div p {
  color: #cfcde4;
}
.dark-mode .menu-active #logo__container {
  border-bottom: 1px solid rgba(225, 222, 245, 0.137);
}

.dark-mode header {
  background: #393d53 !important;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(19, 17, 32, 0.18);
}
.dark-mode header #btnButtonMenu i {
  color: #cfcde4;
}
.dark-mode header div i {
  color: #cfcde4;
}
.dark-mode header div input {
  background: #393d53;
}
.dark-mode header div input::-moz-placeholder {
  color: #76778e;
}
.dark-mode header div input::placeholder {
  color: #76778e;
}
.dark-mode header div input:focus {
  background: #393d53;
  outline: none;
  border: none;
  color: #cfcde4;
  box-shadow: none !important;
}
.dark-mode header #btnMode i {
  color: #cfcde4;
}
.dark-mode header #thongBao__container #iconThongBao {
  color: #cfcde4;
}
.dark-mode header #thongBao__container #showThongBao {
  background: #393d53;
  border: 1px solid rgba(225, 222, 245, 0.137) !important;
  box-shadow: 0px 2px 6px 0px rgba(115, 103, 240, 0.3);
}
.dark-mode header #thongBao__container #showThongBao ul {
  border-bottom: 1px solid rgba(225, 222, 245, 0.137);
  border-top: 1px solid rgba(225, 222, 245, 0.137);
}
.dark-mode header #thongBao__container #showThongBao ul li i,
.dark-mode header #thongBao__container #showThongBao ul li span {
  color: #cfcde4;
}
.dark-mode header #thongBao__container #showThongBao #dongThongBao {
  color: #fff;
}

.dark-mode #list__container {
  box-shadow: 0 0.125rem 0.5rem 0 rgba(19, 17, 32, 0.18);
  background: #393d53;
}
.dark-mode #list__container .list__header {
  border-bottom: 1px solid #76778e;
}
.dark-mode #list__container .list__content table thead tr th {
  background: #393d53;
  color: #cfcde4;
  border-bottom: 1px solid #76778e;
}
.dark-mode #list__container .list__content table tbody tr {
  border-top: none !important;
}
.dark-mode #list__container .list__content table tbody tr th {
  background: #393d53 !important;
  color: #cfcde4 !important;
  border-bottom: 1px solid #76778e;
}
.dark-mode #list__container .list__content table tbody tr td {
  background: #393d53 !important;
  color: #cfcde4 !important;
  border-bottom: 1px solid #76778e;
}
.dark-mode #list__container .list__content table tbody tr td a i {
  color: #cfcde4;
}
.dark-mode #list__container .list__footer {
  border-top: 1px solid #76778e;
}
.dark-mode #list__container .list__footer .pagination .page-item a {
  background: #393d53;
  color: #cfcde4;
  border: 1px solid #76778e;
}
.dark-mode #thongBaoXoaSanPham .modal-dialog .modal-content {
  background: #393d53;
  color: #cfcde4;
}
.dark-mode #thongBaoXoaSanPham .modal-dialog .modal-content .modal-footer {
  border-top: 1px solid #76778e;
}

.dark-mode #staticBackdrop .modal-dialog .modal-content {
  background: #393d53;
}
.dark-mode #staticBackdrop .modal-dialog .modal-content .modal-header {
  border-bottom: 1px solid #76778e;
}
.dark-mode #staticBackdrop .modal-dialog .modal-content .modal-header h1 {
  color: #cfcde4;
}
.dark-mode #staticBackdrop .modal-dialog .modal-content .modal-body form div label {
  color: #cfcde4;
}
.dark-mode #staticBackdrop .modal-dialog .modal-content .modal-body form div textarea {
  background: #393d53;
  color: #cfcde4;
  border: 1px solid #76778e;
}
.dark-mode #staticBackdrop .modal-dialog .modal-content .modal-body form div textarea::-moz-placeholder {
  color: #76778e;
}
.dark-mode #staticBackdrop .modal-dialog .modal-content .modal-body form div textarea::placeholder {
  color: #76778e;
}

.button {
  background: #665dd0;
  color: #fff;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 7px;
  transition: all 0.5s;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 0.125rem 0.5rem 0 rgba(47, 43, 61, 0.12);
  background: #9089db;
}

.style-input, #staticBackdrop .modal-body form div input {
  border: 1px solid #f3f3f4;
  padding: 5px 7px;
  border-radius: 7px;
}
.style-input:focus, #staticBackdrop .modal-body form div input:focus {
  outline: none;
  border: 1px solid #665dd0;
}

.style-input-darkMode, .dark-mode #staticBackdrop .modal-dialog .modal-content .modal-body form div input {
  border: 1px solid #76778e;
  padding: 5px 7px;
  border-radius: 7px;
  background: #393d53;
  color: #cfcde4;
}
.style-input-darkMode:focus, .dark-mode #staticBackdrop .modal-dialog .modal-content .modal-body form div input:focus {
  outline: none;
  border: 1px solid #665dd0;
}/*# sourceMappingURL=main.css.map */