.style-select-darkMode {
  background: $color-dark-2;
  color: $color-dark-3;
  padding: 5px 7px;
  border: 1px solid $color-dark-5;
  border-radius: 7px;
}

.style-select-lightMode {
  background: $color-1;
  padding: 5px 7px;
  color: $color-4;
  border: 1px solid $color-5;
  border-radius: 7px;
}
