// Color
$color-1: #fff;
$color-2: #d70018;
$color-3: #fcfcfc;
$color-4: linear-gradient(
  90deg,
  rgba(215, 0, 24, 1) 49%,
  rgba(213, 71, 71, 1) 100%
);
$color-5: #686d76;
$color-6: #c2bfbf;
$color-7: #9e091b;
$color-8: #c2bfbf;

// Font Family
$font-family-1: "Quicksand", sans-serif;

// Box shadows
$box-shadow-1: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
$box-shadow-2: rgba(0, 0, 0, 0.16) 0px 1px 4px;
