#menu {
  display: flex;
  position: relative;
  min-width: 300px;
  transition: all 0.5s;
  box-shadow: $box-shadow-1;
  background: $color-1;

  @include responsive("extra-large") {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-1;
    z-index: 1;
  }

  #logo__container {
    div {
      i {
        color: $color-2;
      }
      span {
        color: $color-4;
      }
    }
  }

  #menu__list {
    margin-top: 10px;

    li {
      font-weight: 600;
      transition: all 0.5s;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
      width: 100%;

      a,
      i {
        transition: all 0.5s;
        color: $color-4;
      }

      &:hover {
        background: $color-5;

        a,
        i {
          color: $color-2;
        }
      }
    }

    .active {
      background: $color-3;
      color: $color-1;
      box-shadow: $box-shadow-2;

      a,
      i {
        color: $color-1;
      }

      &:hover {
        background: $color-3;
        box-shadow: $box-shadow-2;

        a,
        i {
          color: $color-1;
        }
      }
    }
  }

  footer {
    border-top: 1px solid $color-5;

    div {
      p {
        color: $color-4;
      }
    }
  }

  #iconClose1 {
    display: flex;

    @include responsive("extra-large") {
      display: none;
    }
  }

  #iconClose2 {
    display: none;

    @include responsive("extra-large") {
      display: flex;
    }
  }

  .iconClose {
    width: 38px;
    height: 38px;
    background: $color-2;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: -19px;
    bottom: -19px;

    a {
      i {
        font-size: 2rem;
        color: $color-1;
      }
    }
  }
}

.menu-active {
  min-width: 50px !important;

  #logo__container {
    border-bottom: 1px solid $color-5;

    div {
      .logo-text {
        display: none;
      }
    }
  }

  #menu__list {
    li {
      padding: 5px 15px !important;

      i {
        margin: 0 !important;
      }

      .menu-text {
        display: none;
      }
    }
  }
  footer {
    border-top: 0 !important;

    div {
      p {
        display: none;
      }
    }
  }
}
