.dark-mode {
  header {
    background: $color-dark-2 !important;

    #btnButtonMenu {
      i {
        color: $color-dark-3;
      }
    }

    div {
      i {
        color: $color-dark-3;
      }

      input {
        background: $color-dark-2;

        &::placeholder {
          color: $color-dark-5;
        }
        &:focus {
          background: $color-dark-2;
          outline: none;
          border: none;
          color: $color-dark-3;
          box-shadow: none !important;
        }
      }
    }

    #btnMode {
      i {
        color: $color-dark-3;
      }
    }

    #thongBao__container {
      #iconThongBao {
        color: $color-dark-3;
      }

      #showThongBao {
        background: $color-dark-2;
        border: 1px solid $color-dark-4 !important;
        box-shadow: $box-shadow-4;

        ul {
          border-bottom: 1px solid $color-dark-4;
          border-top: 1px solid $color-dark-4;

          li {
            i,
            span {
              color: $color-dark-3;
            }
          }
        }

        #dongThongBao {
          color: $color-1;
        }
      }
    }
  }
}
