.dark-mode {
  #list__container {
    box-shadow: $box-shadow-3;
    background: $color-dark-2;

    .list__header {
      border-bottom: 1px solid $color-dark-5;

      #typeFilter {
        @extend .style-select-darkMode;
      }
    }

    .list__content {
      table {
        thead {
          tr {
            th {
              background: $color-dark-2;
              color: $color-dark-3;
              border-bottom: 1px solid $color-dark-5;
            }
          }
        }

        tbody {
          tr {
            border-top: none !important;

            th {
              background: $color-dark-2 !important;
              color: $color-dark-3 !important;
              border-bottom: 1px solid $color-dark-5;
            }

            td {
              background: $color-dark-2 !important;
              color: $color-dark-3 !important;
              border-bottom: 1px solid $color-dark-5;

              a {
                i {
                  color: $color-dark-3;
                }
              }
            }
          }
        }
      }
    }

    .list__footer {
      border-top: 1px solid $color-dark-5;

      .pagination {
        select {
          @extend .style-select-darkMode;
        }

        .page-item {
          a {
            background: $color-dark-2;
            color: $color-dark-3;
            border: 1px solid $color-dark-5;
          }
        }
      }
    }
  }

  #thongBaoXoaSanPham {
    .modal-dialog {
      .modal-content {
        background: $color-dark-2;
        color: $color-dark-3;

        .modal-footer {
          border-top: 1px solid $color-dark-5;
        }
      }
    }
  }
}
